.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  margin: 0.5rem;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 10px #888888;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5rem;
}

.navbar-items {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: auto;
}

.profile-link {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links:active {
  text-decoration: underline;
}

.navbar-links:hover {
  background-color: lightgray;
  color: darkblue; 
  border-radius: 20px;
}

.profile-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.login {
  width: 50%;
  height: 50%;
  position: fixed;
  left: 25%;
  top: 20%;
  background-color: lightgray;
  color: darkblue;
  text-align: center;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.signup{
  width: 50%;
  height: 75%;
  position: fixed;
  left: 25%;
  top: 5%;
  background-color: lightgray;
  color: darkblue
}

input[type=text], input[type=password] {
  width: 95%;
  height: 40px;
  margin: 5px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(80,80,160);
  color: white;
  outline: none;
}

.registerbtn {
  background-color: darkblue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

