.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  margin: 0.5rem;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5rem;
}

.navbar-items {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: auto;
}

.profile-link {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links:hover {
  background-color: lightgray;
  color: darkblue; 
}

.profile-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
